body{
    background-color: #c40000;
}

.tn1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    display: inline-block;
    margin: 50px ;
    margin-left: 100px;
}

.tn2{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: black;
    display: inline-block;
    margin: 250px ;
    margin-left: 100px;
}


